/django1_udemy
/flaskPython_iniciante
/flaskPython_jogoteca
/machine_learning
/mySQL_pythonBD-borsonT
/sistemaLogin_python-SQL
/SQL_PythonBack
/working_with_fingerprint
resultados.txt
teste_dict.py

# Jupyter
.ipynb_checkpoints/
